.product {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    height: 100mm;
    width: 190px;
    box-shadow: #ccc 6px 6px 14px;
    margin: 12px;
  }
  body {
    background-color: #f7efdb;
    color: #1a1919;
  }
  .content2{
    text-align: center;
    height: auto;
    font-size: 35px;
    color: #312d2d;
    background-color: #c5bcb9;
  }
  .product-list {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
 
  .product img {
    max-width: 100%;
    height: 75%;
    margin-bottom: 10px;
  }
  .price {
    font-size: 21px;
    color: #b39889fb;
  }
  .add-to-cart {
    background-color: #b39889fb;
    color: white;
    border: none;
    width: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
  }